# This file contains common pin mappings for the bigtreetech lis2dw v1.0
# To use this config, the firmware should be compiled for the
# RP2040 with "USB"
# The micro-controller will be used to control the components on the nozzle.
# See docs/Config_Reference.md for a description of parameters.

#  [*] Enable extra low-level configuration optionsMicro-controller
#  Micro-controller Architecture (Raspberry Pi RP2040/RP235x) --->
#  Processor model (rp2040) --->
#  Bootloader offset (No bootloader) --->
#  Flash chip (W25Q080 with CLKDIV 2) --->
#  Communication interface (USBSERIALL) --->
#  USB ids --->
#  () GPIO pins to set at micro-controller startup 

[mcu BTT_S2DW]
serial: /dev/serial/by-id/usb-Klipper_rp2040_504434031040A21C-if00
# flash command: make flash FLASH_DEVICE=/dev/serial/by-id/usb-Klipper_rp2040_504434031040A21C-if00

[lis2dw]
cs_pin: BTT_S2DW:gpio9
#spi_bus: spi1a
spi_software_sclk_pin: BTT_S2DW:gpio10
spi_software_mosi_pin: BTT_S2DW:gpio11
spi_software_miso_pin: BTT_S2DW:gpio8
#axes_map: -x, -y, -z # for X

[resonance_tester]
accel_chip: lis2dw
probe_points:
    115, 115, 20  # an example
accel_per_hz: 50
min_freq: 1
max_freq: 60
max_smoothing: 0.2
hz_per_sec: 0.5